:root {
    --primaryColor: #14080e;
    --backgroundColor: #B0B0B8;
    --textColor: #ffffff;
    --accentColor1: #9B2915;
    --accentColor2: #B80C09;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button {
    cursor: pointer;
}


/* ------------------------------------------------ Header ------------------------------------------------ */

header {
    background-color: var(--primaryColor);
    width: 100%;
    float: left;
}

#logo {
    height: 65px;
    float: right;
    padding: 10px 1%;
}

header h1 {
    width: min-content;
    margin: 0 auto;
    color: var(--textColor);
    line-height: 75px;
}

h1 a {
    text-decoration: none;
    color: var(--textColor);
}


/* ------------------------------------------------ Navbar ------------------------------------------------ */

nav {
    width: 100%;
    clear: left;
    float: left;
}

nav .container {
    float: left;
    width: calc(100% - 40px);
    background-color: var(--accentColor1);
}

nav .wrapper {
    float: left;
    background-color: var(--accentColor1);
}

#menuIcon {
    height: 40px;
    float: left;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(106%) contrast(101%);
    cursor: pointer;
}

nav ul {
    float: left;
    width: 400px;
    margin: 0 calc(50% - 200px) 0 calc(50% - 240px);
}

nav ul li {
    list-style: none;
    float: left;
    width: 25%;
}

nav ul li a {
    float: left;
    text-decoration: none;
    color: var(--textColor);
    text-align: center;
    line-height: 40px;
    width: 100%;
}

nav ul li a:hover {
    background-color: var(--accentColor2);
}


main {
    width: 66%;
    margin: 0 auto;
}

section {
    border-radius: 5px;
    float: left;
    margin: 1%;
    background-color: var(--backgroundColor);
    padding: 2%;
}

/* section * {
    margin: 2%;
} */

.linkButton {
    text-align: center;
    float: left;
    text-decoration: none;
    background-color: var(--accentColor1);
    color: var(--textColor);
    width: 25%;
    max-width: 130px;
    line-height: 30px;
    margin: 0 calc(50% - 65px) 10px calc(50% - 65px);
    border: var(--primaryColor) solid 1px;
    border-radius: 5px;
    box-sizing: border-box;
}

.linkButton:hover {
    background-color: var(--accentColor2);
}

button {
    text-align: center;
    background-color: var(--accentColor1);
    color: var(--textColor);
    border: var(--primaryColor) solid 1px;
    border-radius: 5px;
    padding: 1.5%;
    box-sizing: border-box;
}

button:hover {
    background-color: var(--accentColor2);
}

h2, h3 {
    margin-bottom: 15px;
}

/* ------------------------------------------------ Home Page ------------------------------------------------ */

#aboutUsSect {
    width: 98%;
    clear: left;
    display: flex;
}

#aboutUsSect .container {
    width: 60%;
    float: left;
}

#aboutUsSect .wrapper {
    width: 36%;
    margin: 2%;
    align-self: center;
}

#aboutUsSect img {
    width: 100%;
}

#a {
    clear: left;
    float: left;
    display: flex;
    width: 104%;
}

#shopSect {
    clear: left;
    width: 50%;
    position: relative;
}

#shopSect a, #gallerySect a, #contactSect a {
    position: absolute;
    bottom: 0;
    left: 0;
}

#shopSect p, #gallerySect p, #contactSect p {
margin-bottom: 30px;
}

#gallerySect {
    width: 50%;
    position: relative;
    display: flex;
}

#gallerySect .container {
    width: 60%;
    float: left;
}

#gallerySect .wrapper {
    width: 36%;
    margin: 2%;
    align-self: center;
}

#gallerySect img {
    width: 100%;
}

#contactSect {
    clear: left;
    width: 98%;
    text-align: center;
    position: relative;
}


/* ------------------------------------------------ Shop ------------------------------------------------ */

@media (width < 600px) {
    #items {
        flex-direction: column;
    }

    .item {
        min-width: 98%;
    }
}

@media (width >= 600px) {
    .item {
        min-width: 20%;
    }
}


#aboutShop {
    width: 98%;
}

#items {
    clear: left;
    float: left;
    display: flex;
    width: 100%;
}


.item .wrapper {
    position: relative;
}

.item img {
    width: 100%;
    transition: .5s;
}

.item img:hover {
    filter: brightness(150%);
}

.item .info {
    width: 96%;
    position: absolute;
    top: 0;
    color: var(--textColor);
    background-color: rgba(0, 0, 0, .5);
    padding: 2%;
    display: none;
    font-size: medium;
}


/* ------------------------------------------------ Gallery ------------------------------------------------ */

#gallery {
    width: 98%;
}

#gallery .fotorama * {
    margin: 0;
}


/* ------------------------------------------------ Contact ------------------------------------------------ */

#aboutContact {
    clear: left;
    width: 98%;
    float: left;
    display: flex;
}

#aboutContact .container {
    width: 63%;
    float: left;
}

#aboutContact .container * {
    padding: 0 10%;
}

#aboutContact .wrapper {
    width: 29%;
    float: left;
    align-self: center;
}

#aboutContact img {
    float: left;
    width: 100%;
    margin: 0;
}

#contactFormSect {
    width: 98%;
    display: flex;
    justify-content: center;
}

#contactFormSect * {
    margin: 2% auto;
}

#contactForm {
    margin: 0;
}

#errorMessage {
    color: red;
}


/* ------------------------------------------------ Footer ------------------------------------------------ */

footer {
    clear: left;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}